In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../input/data/Casen2022.csv', low_memory=False)
data

,Unnamed: 0,id_vivienda,folio,id_persona,region,area,cod_upm,nse,estrato,hogar,...,men18c,may60c,tipohogar,tot_hog,ind_hacina,indsan,ten_viv,ten_viv_f,allega_ext,allega_int
0,1,1000901,100090101,1,16,2,10009,4,1630324,1,...,0,1,3,1,1,1,1,1,0,0
1,2,1000901,100090101,2,16,2,10009,4,1630324,1,...,0,1,3,1,1,1,1,1,0,0
2,3,1000901,100090101,3,16,2,10009,4,1630324,1,...,0,1,3,1,1,1,1,1,0,0
3,4,1000902,100090201,1,16,2,10009,4,1630324,1,...,1,1,5,1,1,2,1,1,0,1
4,5,1000902,100090201,2,16,2,10009,4,1630324,1,...,1,1,5,1,1,2,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202226,202227,4585804,458580401,2,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202227,202228,4585804,458580401,3,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202228,202229,4585807,458580701,1,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202229,202230,4585807,458580701,2,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202230,202231,4585807,458580701,3,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0

In [3]:
# ExploraciÃ³n de variables
print(data.shape, "\n\n")
print(data.columns, "\n\n")
print(data.dtypes, "\n\n")
print(data['sexo'].value_counts(), "\n\n")
print(data['region'].value_counts(), "\n\n")
print(data['edad'].value_counts(), "\n\n")
print(data['edad'].describe(), "\n\n")
print(data['e6a_no_asiste'].value_counts(), "\n\n")
print(data['e6c_completo'].value_counts(), "\n\n")
print(data['y1'].describe(), "\n\n")

(202231, 919)


Index(['Unnamed: 0', 'id_vivienda', 'folio', 'id_persona', 'region', 'area',
       'cod_upm', 'nse', 'estrato', 'hogar',
       ...
       'men18c', 'may60c', 'tipohogar', 'tot_hog', 'ind_hacina', 'indsan',
       'ten_viv', 'ten_viv_f', 'allega_ext', 'allega_int'],
      dtype='object', length=919)


Unnamed: 0     int64
id_vivienda    int64
folio          int64
id_persona     int64
region         int64
               ...
indsan         int64
ten_viv        int64
ten_viv_f      int64
allega_ext     int64
allega_int     int64
Length: 919, dtype: object


sexo
2    106575
1     95656
Name: count, dtype: int64


region
13    38674
5     20552
8     19914
6     13864
7     13739
9     13577
10    10707
14    10603
2      9029
3      9011
16     8706
1      8691
4      8236
15     8152
12     5029
11     3747
Name: count, dtype: int64


edad
30     3184
22     3101
60     3056
32     3030
50     2993
       ...
103       5
107       2
105       2
104       2
120       1
Name: count, Length: 108, dtype: int64


count    202231.000000
mean         39.322923
std          23.030135
min           0.000000
25%          20.000000
50%          38.000000
75%          58.000000
max         120.000000
Name: edad, dtype: float64


e6a_no_asiste
9.0     44190
7.0     27504
13.0    22134
11.0    14877
12.0    13439
6.0      9390
1.0      8329
8.0      4257
10.0     2017
14.0     1570
5.0       666
15.0      226
2.0       155
3.0       152
4.0        58
Name: count, dtype: int64


e6c_completo
1.0    31293
2.0     6076
Name: count, dtype: int64


count    6.136300e+04
mean     6.432518e+05
std      6.458143e+05
min     -8.800000e+01
25%      4.000000e+05
50%      4.770000e+05
75%      7.000000e+05
max      2.500000e+07
Name: y1, dtype: float64

In [4]:
# Procesamiento
datos_proc = (
    data
    .assign(
        sexo=lambda x: x['sexo'].map({1: "Hombre", 2: "Mujer"}),
            
        edad_tr=lambda x: np.select([x['edad'].between(18, 39), 
                                         x['edad'].between(40, 64), x['edad'] >= 65],
                                        ["Jovenes", "Adultos", "Adultos mayores"],
                                        default=np.nan),
        
        sexo_edad=lambda x: np.select([(x['sexo'] == "Mujer") & (x['edad_tr'] == "Jovenes"),
                                       (x['sexo'] == "Mujer") & (x['edad_tr'] == "Adultos"),
                                       (x['sexo'] == "Mujer") & (x['edad_tr'] == "Adultos mayores"),
                                       (x['sexo'] == "Hombre") & (x['edad_tr'] == "Jovenes"),
                                       (x['sexo'] == "Hombre") & (x['edad_tr'] == "Adultos"),
                                       (x['sexo'] == "Hombre") & (x['edad_tr'] == "Adultos mayores")],
                                      ["Mujer joven", "Mujer adulta", "Mujer mayor", "Hombre joven", "Hombre adulto", "Hombre mayor"],
                                       default=np.nan),
        
        e6a_no_asiste=lambda x: np.select([x['e6a_no_asiste'].between(6, 7),
                                          x['e6a_no_asiste'].between(8, 11),
                                          x['e6a_no_asiste'] == 12,
                                          x['e6a_no_asiste'] == 13,
                                          x['e6a_no_asiste'].between(14, 15)],
                                         ["Basica", "Media", "Tecnico", "Universitaria", "Postgrado"],
                                          default="Otro"),
        
        educa=lambda x: np.select([x['e6a_no_asiste'] == "Otro",
                                  x['e6a_no_asiste'] == "Basica",
                                  x['e6a_no_asiste'] == "Media",
                                  (x['e6a_no_asiste'] == "Tecnico") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Tecnico") & (x['e6c_completo'] == 2),
                                  (x['e6a_no_asiste'] == "Universitaria") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Universitaria") & (x['e6c_completo'] == 2),
                                  (x['e6a_no_asiste'] == "Postgrado") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Postgrado") & (x['e6c_completo'] == 2)],
                                 ["Otro nivel educativo", "EducaciÃ³n Basica", "EducaciÃ³n Media", 
                                  "TÃ©cnica completa", "TÃ©cnica incompleta", "Universitaria completa", 
                                  "Universitaria incompleta", "Postgrado", "Universitaria completa"]),
        
        region=lambda x: x['region'].map({1: "RegiÃ³n de TarapacÃ¡",
                                         2: "RegiÃ³n de Antofagasta",
                                         3: "RegiÃ³n de Atacama",
                                        4: "RegiÃ³n de Coquimbo",
                                        5: "RegiÃ³n de ValparaÃ­so",
                                        6: "RegiÃ³n de O'Higgins",
                                        7: "RegiÃ³n del Maule",
                                        8: "RegiÃ³n del BiobÃ­o",
                                        9: "RegiÃ³n de La AraucanÃ­a",
                                        10: "RegiÃ³n de Los Lagos",
                                        11: "RegiÃ³n de AysÃ©n",
                                        12: "RegiÃ³n de Magallanes y AntÃ¡rtica",
                                        13: "RegiÃ³n Metropolitana",
                                        14: "RegiÃ³n de Los RÃ­os",
                                        15: "RegiÃ³n de Arica y Parinacota",
                                        16: "RegiÃ³n de Ã‘uble"}))
    
    .rename(columns={'y1': 'ingreso'})
    .dropna(subset=['ingreso'])
    .query('edad>=18 & ingreso>=0')
    
    .assign(prom_ing_educa=lambda x: x.groupby('educa')['ingreso'].transform('mean'),
            prom_ing_educa_sexo_edad=lambda x: x.groupby(['educa', 'sexo_edad'])['ingreso'].transform('mean'),
            prom_ing_educa_sexo_edad_region=lambda x: x.groupby(['educa', 'sexo_edad', 'region'])['ingreso'].transform('mean'),
            prom_ing_region=lambda x: x.groupby('region')['ingreso'].transform('mean'),
            prom_ing_sexo_edad_region=lambda x: x.groupby(['sexo_edad', 'region'])['ingreso'].transform('mean'),
            prom_ing_educa_region=lambda x: x.groupby(['educa', 'region'])['ingreso'].transform('mean'),
            prom_ing_sexo_edad=lambda x: x.groupby('sexo_edad')['ingreso'].transform('mean'),
            prom_ing_sexo_educa=lambda x: x.groupby(['educa', 'sexo'])['ingreso'].transform('mean'))
    
    .assign(prom_ing_educa=lambda x: x['prom_ing_educa'].astype(int),
            prom_ing_educa_sexo_edad=lambda x: x['prom_ing_educa_sexo_edad'].astype(int),
            prom_ing_educa_sexo_edad_region=lambda x: x['prom_ing_educa_sexo_edad_region'].astype(int),
            prom_ing_region=lambda x: x['prom_ing_region'].astype(int),
            prom_ing_sexo_edad_region=lambda x: x['prom_ing_sexo_edad_region'].astype(int),
            prom_ing_educa_region=lambda x: x['prom_ing_educa_region'].astype(int),
            prom_ing_sexo_edad=lambda x: x['prom_ing_sexo_edad'].astype(int),
            prom_ing_sexo_educa=lambda x: x['prom_ing_sexo_educa'].astype(int)))

In [5]:
datos_proc = datos_proc[['sexo', 'edad', 'edad_tr', 'sexo_edad', 'educa', 'region', 'ingreso', 'prom_ing_educa',
                         'prom_ing_educa_sexo_edad', 'prom_ing_educa_sexo_edad_region', 'prom_ing_region', 'prom_ing_sexo_edad_region',
                         'prom_ing_educa_region', 'prom_ing_sexo_edad', 'prom_ing_sexo_educa']]

In [6]:
datos_proc.describe()

,edad,ingreso,prom_ing_educa,prom_ing_educa_sexo_edad,prom_ing_educa_sexo_edad_region,prom_ing_region,prom_ing_sexo_edad_region,prom_ing_educa_region,prom_ing_sexo_edad,prom_ing_sexo_educa
count,59644.000000,5.964400e+04,5.964400e+04,5.964400e+04,5.964400e+04,59644.000000,5.964400e+04,5.964400e+04,59644.00000,5.964400e+04
mean,41.803350,6.615691e+05,6.615683e+05,6.615686e+05,6.615686e+05,661568.477349,6.615685e+05,6.615685e+05,661568.45733,6.615684e+05
std,13.363736,6.457663e+05,3.271752e+05,3.619857e+05,3.862560e+05,116997.280284,1.500114e+05,3.462475e+05,77153.55918,3.454184e+05
min,18.000000,0.000000e+00,3.953180e+05,2.995450e+05,1.150000e+05,501444.000000,2.978940e+05,3.532140e+05,505509.00000,3.234540e+05
25%,31.000000,4.000000e+05,4.931380e+05,4.309050e+05,4.297060e+05,585013.000000,5.337560e+05,4.628860e+05,608391.00000,4.339190e+05
50%,40.000000,4.900000e+05,4.931380e+05,5.168710e+05,5.278280e+05,611597.000000,6.290040e+05,5.087670e+05,668422.00000,5.534230e+05
75%,52.000000,7.500000e+05,6.439050e+05,6.764720e+05,7.399910e+05,776901.000000,7.698950e+05,7.176810e+05,778863.00000,7.727240e+05
max,92.000000,2.500000e+07,2.086629e+06,2.753778e+06,6.100000e+06,841316.000000,1.049354e+06,2.529618e+06,778863.00000,2.455856e+06

In [7]:
print(datos_proc.shape, "\n\n")
print(datos_proc.columns, "\n\n")
print(datos_proc.dtypes, "\n\n")
print(datos_proc['ingreso'].value_counts(), "\n\n")
print(datos_proc['ingreso'].describe(), "\n\n")
print(datos_proc['sexo'].value_counts(), "\n\n")
print(datos_proc['edad_tr'].value_counts(), "\n\n")
print(datos_proc['sexo_edad'].value_counts(), "\n\n")
print(datos_proc['educa'].value_counts(), "\n\n")
print(datos_proc['region'].value_counts(), "\n\n")

(59644, 15)


Index(['sexo', 'edad', 'edad_tr', 'sexo_edad', 'educa', 'region', 'ingreso',
       'prom_ing_educa', 'prom_ing_educa_sexo_edad',
       'prom_ing_educa_sexo_edad_region', 'prom_ing_region',
       'prom_ing_sexo_edad_region', 'prom_ing_educa_region',
       'prom_ing_sexo_edad', 'prom_ing_sexo_educa'],
      dtype='object')


sexo                                object
edad                                 int64
edad_tr                             object
sexo_edad                           object
educa                               object
region                              object
ingreso                            float64
prom_ing_educa                       int32
prom_ing_educa_sexo_edad             int32
prom_ing_educa_sexo_edad_region      int32
prom_ing_region                      int32
prom_ing_sexo_edad_region            int32
prom_ing_educa_region                int32
prom_ing_sexo_edad                   int32
prom_ing_sexo_educa                  int32
dtype: object


ingreso
400000.0     9600
500000.0     4849
600000.0     3541
450000.0     3130
800000.0     2344
             ...
124000.0        1
217448.0        1
1238000.0       1
926000.0        1
1695000.0       1
Name: count, Length: 1185, dtype: int64


count    5.964400e+04
mean     6.615691e+05
std      6.457663e+05
min      0.000000e+00
25%      4.000000e+05
50%      4.900000e+05
75%      7.500000e+05
max      2.500000e+07
Name: ingreso, dtype: float64


sexo
Hombre    32719
Mujer     26925
Name: count, dtype: int64


edad_tr
Adultos            28578
Jovenes            28359
Adultos mayores     2707
Name: count, dtype: int64


sexo_edad
Hombre adulto    15530
Hombre joven     15309
Mujer joven      13050
Mujer adulta     13048
Hombre mayor      1880
Mujer mayor        827
Name: count, dtype: int64


educa
EducaciÃ³n Media             26291
Universitaria completa      11233
EducaciÃ³n Basica             8073
TÃ©cnica completa             6284
Otro nivel educativo         3961
Universitaria incompleta     1521
Postgrado                    1176
TÃ©cnica incompleta           1105
Name: count, dtype: int64


region
RegiÃ³n Metropolitana                12863
RegiÃ³n de ValparaÃ­so                 5870
RegiÃ³n del BiobÃ­o                    5628
RegiÃ³n de O'Higgins                  4503
RegiÃ³n del Maule                     4129
RegiÃ³n de La AraucanÃ­a               3183
RegiÃ³n de Los Lagos                  3083
RegiÃ³n de Los RÃ­os                   3020
RegiÃ³n de Antofagasta                2685
RegiÃ³n de Atacama                    2636
RegiÃ³n de TarapacÃ¡                   2383
RegiÃ³n de Arica y Parinacota         2316
RegiÃ³n de Ã‘uble                      2166
RegiÃ³n de Coquimbo                   2129
RegiÃ³n de Magallanes y AntÃ¡rtica     1845
RegiÃ³n de AysÃ©n                      1205
Name: count, dtype: int64

In [8]:
# Guardar datos
datos_proc.to_csv("../output/data/Casen2022.csv", index=False)